# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Distribution / packaging
build/
dist/
*.egg-info/

# =========================
# Virtual Environment
# =========================
.venv/
venv/
env/

# =========================
# Jupyter Notebook
# =========================
.ipynb_checkpoints/

# =========================
# PyTorch / ML
# =========================
*.pt
*.pth
*.ckpt
*.onnx

# TensorBoard
runs/
logs/

# Dataset
data/
datasets/

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# Testing / Coverage
# =========================
.pytest_cache/
.coverage
htmlcov/

# =========================
# Type Checking
# =========================
.mypy_cache/
.pyre/
.ruff_cache/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Environment Variables
# =========================
.env